
* {
	box-sizing: border-box;
}
html,
body {
	margin: 0;
	padding: 0;
}
body {
	min-height: 100vh;
	/* max-height: 100vh; */
	background: rgba(14, 16, 20, 1);
	background: #d6d6d6;
	color: #acb2b8;
	color: #777;
	font-size: 14px;
	font-family: 'Motiva Sans', Helvetica, Arial, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.menu h1, .pause h1 {
	font-weight: 100;
	color: #000000;
	font-size: 3em;
	background-color: rgba(0, 174, 255, 0.3);
	border-radius: 40%;
	padding: 10px;
	padding-left: 15px;
	padding-right: 15px ;
}
.menu h1 em, .pause h1 em {
	font-style: normal;
	font-weight: bold;
	color: #000000;
}

.viewContent.activeOnly > article:not(.active) {
	display: none;
}

canvas {
	background-color: white;
	border: 3px dashed #777;
	/* modification de la taille du canvas */
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border: none;
}

.menu, .pause{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: black;
	background-image:url("../images/menuBg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.menuButtons, .pauseButtons{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	
}

.menu button, .pause button, .credits button{
	font-size: 1.5em;
	background-color: rgb(0, 174, 255);
	border-color: rgb(0, 174, 255);
	border-radius: 10%;
	border-width: 5px;
}

.end h1 {
	/*font-weight: 86;*/
	color: #FFFFFF;
	font-size: 20px;
	background-color: red;
	/*background: #000000;*/
	border-radius: 10%;
	padding: 10px;
	padding-left: 15px;
	padding-right: 15px ;
}

.credits {
	background-image: url("../images/background/galaxie.jpg");
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.credits a{
	text-decoration: none;
	color: white;
}

.credits a:visited{
	text-decoration: none;
	color: white;
}

.credits h1 {
	font-size: 32px;
	color: bisque;
	margin-top: 5%;
}

.credits table {
	margin-bottom: 9% ;
	border: 2px solid black;
	text-align: center;
	color: bisque;
}

.credits table th{
	margin:1%;
	font-size: 20px;
	border: 2px solid black;
}

.credits table td{
	margin:1%;
	font-size: 20px;
	border: 2px solid black;
}
